/* TABLE LIST STYLE */
.wrapper {
  display: grid;
  grid-template-columns: 300px 1fr 250px;  
}

/* TABLE LIST STYLE */
.tables {
		display: grid;

	grid-template-rows: 100px 100px; /* задается высота для ряда (первые 2 ряда по 100 пикс) */
	grid-auto-rows: 80px; /* задается высота для всех последующих рядов */
	grid-column-gap: 40px; /* задается отступ для колонок */
	grid-row-gap: 40px; /* задается отступ для рядов */
	grid-row-gap: 40px; /* задается отступ для колонок и рядов */
	grid-template-columns: 1fr 1fr 1fr ; 
	
	}

/* FREE TABLE STYLE */
.tables-raw-green{
	display: grid;
	justify-content: center;
	align-content: center;
	background-color: rgb(81, 104, 58);
}

/* FREE TABLE NAVI STYLE */
.tables-raw-green:hover {
  background-color: var(--color-bg);
  cursor: pointer;
}

/* BUSY TABLE STYLE */
.tables-raw-red{
	display: grid;
	justify-content: center;
	align-content: center;
	background-color: rgb(54, 38, 38);
}
/* BUSY TABLE NAVI STYLE */
.tables-raw-red:hover {
  background-color: var(--color-bg);
  cursor: pointer;
}

/* createApp STYLE */
.createApp{
  display: flex;
  justify-content: center;
  padding: 10px 16px;
}

/* createBook STYLE */
.createBook{
	display: grid;
	justify-content: center;
	padding: 10px 16px;
  }

/* select STYLE */
.select{
	width: 500px;
  }
  
/* queue STYLE */
.queue {
	display: grid;
}

/* buttons STYLE */
.buttons{
	display: flex;
	flex-direction: column;
  gap: 10px;
}

